body {
  background-color: #f7e5eb;
  font-family: "Montserrat", sans-serif;
  font-family: "REM", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Shantell Sans", cursive;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 15px 0;
}

main {
  padding: 10px 0;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 10px 0 10px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500px;
  color: #5e5d5f;
}

a {
  color: #885df1;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px 30px 0 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 14px;
  font-size: 14px;
}

.search-form-button {
  background: #a56e85;
  margin-left: 10px;
  padding: 14px 28px;
  border-radius: 6px;
  font-size: 14px;
  border: none;
  color: white;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-current-region {
  line-height: 0.8;
}

.weather-app-city {
  margin: 0;
  color: #000000;
  font-size: 38px;
  font-weight: 900;
}

.weather-app-country {
  margin: 0;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.9;
}

.weather-app-details {
  margin: 20px 0;
  font-size: 16px;
  color: #887782;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #e2517d;
}

.weather-app-details-description {
  text-transform: capitalize;
}

.weather-app-temperature-container {
  display: flex;
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  margin-top: 20px;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: -20px;
  font-size: 28px;
}

.weather-forecast {
  margin-top: 20px;
  color: #000000;
  display: flex;
  justify-content: space-around;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 2px;
  opacity: 0.7;
}

.weather-forecast-description {
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  line-height: 8px;
  color: #7d233e;
  text-transform: capitalize;
}



.weather-forecast-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.weather-forecast-temperature-maximum {
  font-size: 14px;
  opacity: 0.7;
  padding: 0 10px;
}

.weather-forecast-temperature {
  opacity: 0.65;
  padding: 4px 10px;
}
